# Copy to terraform.tfvars and edit for your environment.
# DO NOT COMMIT terraform.tfvars — it is in .gitignore.

project_id = "REPLACE-with-your-dev-project-id"
region     = "europe-west2"

network_self_link    = "projects/REPLACE-network-project/global/networks/idp-vpc"
subnetwork_self_link = "projects/REPLACE-network-project/regions/europe-west2/subnetworks/idp-dev-subnet"

pods_secondary_range_name     = "pods"
services_secondary_range_name = "services"

master_ipv4_cidr_block = "172.16.0.0/28"

master_authorized_networks = [
  {
    cidr_block   = "10.10.0.0/24"
    display_name = "platform-admin-bastion"
  },
]

database_encryption_key = "projects/REPLACE-kms-project/locations/europe-west2/keyRings/idp/cryptoKeys/etcd"
boot_disk_kms_key       = "projects/REPLACE-kms-project/locations/europe-west2/keyRings/idp/cryptoKeys/nodes"
